body {
    margin: auto;
    max-width: 50em;
    font-family: Georgia;
    background-color: #ffc3e1;
    color: mediumblue;
}

.box {
    background-color: whitesmoke;
    box-shadow: 0px 0px 30px #122dfc;
    border: none;
    padding: 10px;
    color: black;
}