<!DOCTYPE html>

<head>
    <title>Muokkaus</title>
</head>

<body>
    <h2>Muokkaus</h2>
    <form action="/update_post" method="post">
        <p>
            <input type="hidden" name="post_id" value="{{post.id}}" />
            <input type="hidden" name="csrf_token" value="{{session.csrf_token}}" />
        </p>
        Nimi: <br />
        <p> 
            <input type="text" name="title" value="{{post.title}}" maxlength="100" required/>
        </p>
        <p>
            Sisältö: <br />
            <textarea name="body" rows="10" cols="60" maxlength="7000" required>{{post.body}}</textarea>
        </p>
        {% for class in classes %}
        <p>
        {{class}}: <br/>
        <select name="classes">
            <option value="">(valitse)</option>
        {% for option in all_classes[class] %}
        {% if classes[class] == option %}
        <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
        {% endif %}
        {% endfor %}
        </select>
        </p>
        {% endfor %}
        <input type="submit" value="Muokkaa"/>
    </form>
</body>
<p>
    <a href="/delete/{{post.id}}"> Poista</a>
</p>