<!DOCTYPE html>
<html>

<head>
  <title>Taulut</title>
</head>

<link rel="stylesheet" href="/static/main.css">

<body>
    <h1>Taulut</h1>
  <p>
    Olet kirjautunut käyttäjällä <a href="/user/{{session.id}}">{{session.username}}</a>
  </p>
  <p>
    <a href="/new_post">Luo uusi taulu</a>
    <a href="/logout">Kirjaudu ulos</a>
    <a href="/search_posts">Hae tauluista</a>
  </p>
  <h2>Postaukset</h2>
    <br>
    {%for post in posts %}
    <div class="box">
        <a href="/post/{{post.id}}">{{post.title}}</a>
        <br>
        {{post.body}}
    </div>
    <br>
    <br>
    {% endfor %}
</body>

</html>