<!DOCTYPE html>
<html>

<head>
  <title>Taulut</title>
</head>

<link rel="stylesheet" href="/static/main.css"

<body>
    <h1>Teretulemaks!</h1>

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/new_item">Luo uusi julkaisu</a>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  <h2>Postaukset</h2>

    {%for post in posts %}
    <div class="box">
        <a href="/post/{{post.id}}">{{post.title}}</a>
        <br>
        {{post.body}}
    </div>
    <br>
    <br>
    {% endfor %}

  <p>

  </p>
  {% else %}
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  <p> 
    <a href="/register">Luo uusi käyttäjä</a>
  </p>
  {% endif %}
</body>

</html>
