<!DOCTYPE html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
  <style>
    .line-height-adjust {
        line-height: 2
    }
  </style>
</head>

<body>
    <br>
    <div class="header">
        <h1>Taulut</h1>
    </div>

    {% if session.user_id %}
    <p>
        <br>
        <input type="hidden" name="user_id" value="{{session.id}}" />
        Olet kirjautunut käyttäjällä <a href="/your_page"><b>{{session.username}}</b></a> <br>
        <br>
        <a href="/new_post">Luo uusi postaus</a>
        <a href="/logout">Kirjaudu ulos</a>
    </p>
    {% endif %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>