<!DOCTYPE html>
<html>

<head>
  <title>{{post.title}}</title>
</head>
<link rel="stylesheet" href="/static/main.css">

<body>
    <br>
    <a href="/">Etusivulle</a>
    <h2>{{ post.title }}</h2>
    <div class="box">
        {{post.body}}
    </div>
    <p>{{ post.username }}</p>
        {% if post.poster_id == session.user_id %}
        <p>
            <a href="/edit/{{post.id}}">Muokkaa</a>
            <a href="/delete/{{post.id}}">Poista</a>
        </p>
        {% endif %}
</body>

</html>