<!DOCTYPE html>
<html>

<head>
  <title>Uusi postaus</title>
</head>
<link rel="stylesheet" href="/static/main.css">

<body>
    <h1>Luo uusi julkaisu</h1>

  <form action="/create_post" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" maxlength="100" required/>
    </p>
    <p>
      Sisältö: <br />
      <textarea name="body" rows="10" cols="60" maxlength="7000"></textarea>
    </p>
    {% for class in classes %}
    <p>
      {{class}}: <br/>
      <select name="classes">
        <option value="">(valitse)</option>
      {% for option in classes[class] %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endfor %}
      </select>
    </p>
    {% endfor %}
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}" />
    <input type="submit" value="Postaa" />
  </form>
</body>

</html>